body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

@keyframes rotate {
    25% { transform: rotate(90deg) scale(0.95);}
    50% { transform: rotate(180deg) scale(0.9); }
    75% { transform: rotate(270deg) scale(0.95); }
    100% { transform: rotate(360deg) scale(1); }
}


